@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'balgin-light';
  src: url('/fonts/balgin-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}